<!-- about.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Привет! Это мой сайт-визитка</title>
  </head>
  <body>
    <h1>О нас</h1>
    <p>Компания ЕКота занимается всем, что может принести вред.</p>
  </body>
</html>