<!-- contact.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Контакты</title>
  </head>
  <body>
    <h1>Связь с нами</h1>
    <p>Скорее всего, мы сами вас найдём, но если нет:</p>
    <ul>
      <li>Почта: info@mywebsite.com</li>
      <li>Мобильный: 123-456-7890</li>
    </ul>
  </body>
</html>