<!-- index.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Домашняя страница</title>
  </head>
  <body>
    <h1>Добро пожаловать в обитель зла</h1>
    <p>Я сейчас смотрю Твин Пикс</p>
  </body>
</html>